{% extends "layout.html" %}

{% block contents %}

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <div id="breadcrumbs" class="grid_12">
          <a href="">Home</a>
          &gt;
          <a href="">About us</a>
        </div>
        <h1>About the ECF</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="container_12">

    <div class="grid_12">
			<h2>eThekwini Community Foundation (ECF)</h2>
			<h4>Mission</h4>
            <p>
           We work to bring hope to communities. We do this by bringing together collaborations between the public and 
           private sector. We work through non-profits as our implementing partners who engage directly
           with communities. Our role is strategic and networking .
            </p>
            <p>
            <div> <a href="http://www.ecft.org.za/Our%20Mission.html">Click to see full missions page</a> </div>
            </p>
    </div>
    
    <div class="clear"></div>
   
  </div>
  <!-- end of content -->

{% endblock %}
