{% extends "layout_admin.html" %}

{% block contents %}


    <!-- ********************** -->
  <!--     I N T R O          -->
  <!-- ********************** -->

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <h1>Crafters</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->


  <!-- ********************** -->
  <!--      C O N T E N T     -->
  <!-- ********************** -->
  <div id="content" class="container_12">


  <center>

    <div style="margin: 15px;">

  <a class="btn btn-primary" href="/editcrafter/key=new">Add</a>
  <table style="" class="s_table" width="100%" cellpadding="0" cellspacing="0" border="0"> <tbody><tr> <th>&nbsp;</th> <th style="text-align: left;">Name</th> <th>Created</th> </tr> 
  {% for crafter in crafters %}

    <tr> 

    <td style="width:180px;"><a class="btn btn-primary" href="/editcrafter/key={{crafter.key.id()}}">Edit</a> <a class="btn btn-primary" onclick="return confirm('Are you sure you want to delete?');" class="button small red" href="/deletecrafter/key={{crafter.key.id()}}">Delete</a></td> 

    <td style="text-align: left;">{{crafter.name}} {{crafter.surname}}</td>

     <td style="width:160px;">{{crafter.created}}</td> 

   </tr>  

  {% endfor %}

  </tbody></table>

</div>

</center>
  
{% endblock %}
