{% extends "layout_admin.html" %}

{% block contents %}

  <center>

    <div style="margin: 15px;">

  <table style="" class="s_table" width="100%" cellpadding="0" cellspacing="0" border="0"> <tbody><tr> <th>&nbsp;</th> <th style="text-align: left;">Name</th> <th>Created</th> </tr> 
  {% for crafter in crafters %}

    <tr> 

    <td style="width:140px;"><a class="button small orange" href="/editcrafter/key={{crafter.key.id()}}">Edit</a> <a onclick="return confirm('Are you sure you want to delete?');" class="button small red" href="/deletecrafter/key={{crafter.key.id()}}">Delete</a></td> 

    <td style="text-align: left;">{{crafter.name}} {{crafter.surname}}</td>

     <td style="width:160px;">{{crafter.created}}</td> 

   </tr>  

  {% endfor %}

  </tbody></table>

</div>

</center>
  
{% endblock %}