{% extends "layout.html" %}

{% block contents %}


  <!-- ********************** --> 
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <h1>{{crafter_obj.name}} {{crafter_obj.surname}}</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

	<!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="product_view container_16">

    <div id="product" class="grid_12">
      <div id="product_images" class="grid_6 alpha">
      	<a id="product_image_preview" rel="prettyPhoto[gallery]" href="/img/product_300x300.jpg"><img id="image" src="{{crafter_obj.image_url}}" title="Elite Power Camera" alt="Elite Power Camera" /></a>
      </div>
      <div id="product_info" class="grid_6 omega">
        <dl class="clearfix">
          <dt>Website</dt>
          <dd>{{crafter_obj.website}}</dd>
          <dt>Town</dt>
          <dd>{{crafter_obj.town}}</dd>
          <dt>Province</dt>
          <dd>{{crafter_obj.province}}</dd>
          <dt>Registered since</dt>
          <dd>{{crafter_obj.created}}</dd>
        </dl>
        <div id="product_share" class="clearfix">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4de0eff004042e7a"></script>
          <!-- AddThis Button END -->
        </div>
      </div>
      <div class="clear"></div>
      <div class="s_tabs grid_12 alpha omega">
        <div class="s_tab_box">
        
          <div id="product_description">
            <div class="cpt_product_description ">
              {{crafter_obj.about}}
            </div>
            <!-- cpt_container_end -->
          </div>
            
        </div>

		<br />
		<br />

    <div class="s_tab_box">
        
          <div id="product_description">
            <div class="cpt_product_description ">
              Location Map Here
            </div>
            <!-- cpt_container_end -->
          </div>
            
        </div>

       
      </div>
      
      <div id="related_products" class="grid_12 alpha omega">
        <h2 class="s_title_1"><span class="s_main_color">Products</span> by {{crafter_obj.name}}</h2>
        <div class="clear"></div>
        <div class="s_grid_view s_listing clearfix">

          {% for prod_obj in crafter_products %}

          <div class="s_item grid_3">
          	<a class="s_thumb" href="/p/{{prod_obj.key.id()}}"><img src="{{prod_obj.image_url}}" title="{{prod_obj.name}}" alt="{{prod_obj.name}}" /></a>
            <h3><a href="/p/{{prod_obj.key.id()}}">{{prod_obj.name}}</a></h3>
            <p class="s_model">{{prod_obj.summary}}</p>
            <p class="s_price">{{prod_obj.price}}<span class="s_currency s_after"> zar</span></p>
           
          </div>

          {% endfor %}

          <div class="clear"></div>
        </div>
      </div>
    
      
    </div>

    
    <div id="right_col" class="grid_3">
      
      
      <div id="bestseller_side" class="s_box clearfix">
        <h2>Newest Items</h2>

        {% for product_obj in newest_products %}

          <div class="s_item s_size_1 clearfix">
            <a class="s_thumb" href="/p/{{product_obj.key.id()}}"><img src="{{product_obj.image_url_small}}" width="38" height="38" alt="{{product_obj.name}}" /></a>
            <h3><a href="/p/{{product_obj.key.id()}}">{{product_obj.name}}</a></h3>
            <p><a href="/p/{{product_obj.key.id()}}"><span class="s_main_color"><span class="s_currency s_before">R</span>{{product_obj.price}}</span></a></p>
          </div>

        {% endfor %}

      </div>
  

    </div>
    
  </div>
  <!-- end of content -->

{% endblock %}