{% extends "layout.html" %}

{% block contents %}

	<!-- ********************** --> 
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <h1>Registered Crafters</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="container_12">

    
    <div id="category" class="grid_12">

      <div class="clear"></div>

      <div class="s_listing s_list_view clearfix">

      	{% for crafter_obj in crafters %}

        <div class="s_item clearfix">
          <div class="grid_3 alpha"> <a class="s_thumb" href="/c/{{crafter_obj.key.id()}}"><img src="{{crafter_obj.img_url}}" title="{{crafter_obj.name}}" alt="{{crafter_obj.name}}" /></a> </div>
          <div class="grid_6 omega">
            <h3 style="margin-top: 8px;margin-bottom:15px;"><a href="/c/{{crafter_obj.key.id()}}">{{crafter_obj.name}} {{crafter_obj.surname}}</a></h3>
            <p class="s_description">{{crafter_obj.about}}</p>
          </div>
        </div>

        <div class="clear"></div>

        {% endfor %}

      </div>
      
      <div class="pagination">
        <div class="results">Showing 1 to 6 of 6 (1 Pages)</div>
      </div>
      
    </div>
    
    
    
    
  </div>
  <!-- end of content -->

{% endblock %}