<form name="editcrafter" method="post">
	Name:	<input name="name" value="{{crafter.name}}" />
	<br />
	Surname:	<input name="surname" value="{{crafter.surname}}" />
	<br />
	About:	<input name="about" value="{{crafter.about}}" />
	<br />
	Cell Number:	<input name="cell_number" value="{{crafter.cell_number}}" />
	<br />
	Email:	<input name="email" value="{{crafter.email}}" />
	<br />
	Website:	<input name="website" value="{{crafter.website}}" />
	<br />
	Organization:	<input name="organization" value="{{crafter.organization}}" />
	<br />
	Province:	<input name="province" value="{{crafter.province}}" />
	<br />
	Suburb:	<input name="suburb" value="{{crafter.suburb}}" />
	<br />
	Town:	<input name="town" value="{{crafter.town}}" />
	<br />
	<input type="submit" value="Save" />
</form>

