<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{title}} | Crafters Online</title>
<meta name="description" content="{{description}}" />
<link rel="stylesheet" type="text/css" href="/css/960.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/screen.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/color.css" media="all" />
<link rel="stylesheet" href="/css/bootstrap.min.css?version=7" />
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" />
<![endif]-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/shoppica.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body class="s_layout_fixed">

<div id="wrapper"> 
  
  <!-- ********************** --> 
  <!--      H E A D E R       --> 
  <!-- ********************** -->
  <div id="header" class="container_12">
    <div class="grid_12">

      <a id="site_logo" href="/" style="float:left;">
       <img src="/img/logo.jpg" style="height:84px;float:left;" /> 
      
      </a> 

       <h3 style="color:#444;float:left;margin-top:65px;margin-left:10px;">eThekwini Community Admin</h3>

      <div id="system_navigation" class="s_nav">
        <ul class="s_list_1 clearfix">
          <li><a href="/">Home</a></li>

          {% if current_user != None %}

            <li><a href="/admin">Admin</a></li>

          {% endif %}
          
          <li><a href="/about">About Us</a></li>

          {% if current_user != None %}

            <li><a href="/logout">Logout</a></li>

          {% else %}

             <li><a href="/login">Log In</a></li>

          {% endif %}

        </ul>
      </div>
    

      <div class="clearfix"></div>

      <div id="categories" class="s_nav">
        <ul>
          <li id="menu_home"> <a href="/">Home</a> </li>

          <li> <a href="/admin">Manage Crafters</a></li>

          <li> <a href="/products">Manage Products</a></li>

          <li> <a href="/categories">Manage Categories</a></li>

          <li> <a href="/users">Manage Users</a></li>
          
        </ul>
      </div>
      
    </div>
  </div>
  <!-- end of header --> 
  

  {% block contents %}{% endblock %}
  
  <!-- ********************** --> 
  <!--   S H O P   I N F O    --> 
  <!-- ********************** --> 
  <div id="shop_info">
    <div id="shop_info_wrap">
      <div class="container_12">
        <div id="shop_description" class="grid_3">
          <h2>the eCF</h2>
          <p><strong>To create a meeting
point and interface
between people,
projects and the
planet.</strong></p>

<p>The eThekwini Community Foundation
(ECF) is a proactive public benefit
organization.</p>
        </div>
        <div id="shop_contacts" class="grid_3">
          <h2>Contact Us</h2>
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_phone_32"></span>(+27) 31 311 2044<br />(+27) 31 311 2318<br /></span></td>
            </tr>
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_phone_32"></span>(+27) 83 252 0992 <br /> </span></td>
            </tr>
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_mail_32"></span>kathryn.kure@durban.gov.za <br /> indira.maharaj@durban.gov.za</span></td>
            </tr>
          </table>
        </div>
        <div id="" class="grid_6">
          <h2>Social</h2>
          <!-- Place this tag where you want the widget to render. -->
          <!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-width="451" data-href="https://plus.google.com/116835946300653786384" data-layout="landscape" data-showtagline="false" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  
  <!-- ********************** --> 
  <!--      F O O T E R       --> 
  <!-- ********************** --> 
  <div id="footer" class="container_12">
    
    <p id="copy">&copy; Copyright 2013.</p>
  </div>
  <!-- end of FOOTER --> 
  
</div>

<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '0c18007de6f00f7ecda8c040fb76cd90', status: true, cookie: true,
     xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
    '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

</body>
</html>
