<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{title}} | Crafters Online</title>
<meta name="description" content="{{description}}" />
<link rel="stylesheet" type="text/css" href="/css/960.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/screen.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/color.css" media="all" />
<link rel="stylesheet" href="/css/bootstrap.min.css?version=7" />
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" />
<![endif]-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/shoppica.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body class="s_layout_fixed">

<div id="wrapper"> 
  
  <!-- ********************** --> 
  <!--      H E A D E R       --> 
  <!-- ********************** -->
  <div id="header" class="container_12">
    <div class="grid_12">

      <a id="site_logo" href="/" style="float:left;">
       <img src="/img/logo.jpg" style="height:84px;float:left;" /> 
      
      </a> 

       <h3 style="color:#444;float:left;margin-top:65px;margin-left:10px;">eThekwini Community Admin</h3>

      <div id="system_navigation" class="s_nav">
        <ul class="s_list_1 clearfix">
          <li><a href="/">Home</a></li>

          {% if current_user != None %}

            <li><a href="/admin">Admin</a></li>

          {% endif %}
          
          <li><a href="/about">About Us</a></li>

          {% if current_user != None %}

            <li><a href="/logout">Logout</a></li>

          {% else %}

             <li><a href="/login">Log In</a></li>

          {% endif %}

        </ul>
      </div>
    

      <div class="clearfix"></div>

      <div id="categories" class="s_nav">
        <ul>
          <li id="menu_home"> <a href="/">Home</a> </li>

          <li> <a href="/admin">Manage Crafters</a></li>

          <li> <a href="/products">Manage Products</a></li>

          <li> <a href="/categories">Manage Categories</a></li>

          <li> <a href="/users">Manage Users</a></li>
          
        </ul>
      </div>
      
    </div>
  </div>
  <!-- end of header --> 
  

  {% block contents %}{% endblock %}
  
</div>

</body>
</html>
