{% extends "layout_admin.html" %}

{% block contents %}

	<!-- ********************** --> 
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <h1>Products by Crafters</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="container_12">

  <center>
    
    <div id="category" class="grid_12">

      <div class="clear"></div>

      <div class="s_listing s_list_view clearfix">
		<a class="btn btn-primary" href="/editproduct/key=new">Add</a> 

      	{% for product_tuple in product_list %}

        <div class="s_item clearfix">
           <div><a class="btn btn-primary" href="/editproduct/key={{product_tuple.1.key.id()}}">Edit</a> <a class="btn btn-primary" onclick="return confirm('Are you sure you want to delete?');" class="button small red" href="/deleteproduct/key={{product_tuple.1.key.id()}}">Delete</a></div>
          <div class="grid_3 alpha"> <a class="s_thumb" href="/p/{{product_tuple.1.key.id()}}"><img {% if product_tuple.0 %} src={{product_tuple.0}} {% else %} src="/img/product_180x180.jpg" {% endif %} title="{{product_tuple.1.name}}" alt="{{product_tuple.1.name}}" /></a> </div>
          <div class="grid_6 omega">
            <h3><a href="/p/{{product_tuple.1.key.id()}}">{{product_tuple.1.name}}</a></h3>
            <p class="s_model">{{product_tuple.1.summary}}</p>
            <p class="s_price"><span class="s_currency s_before">R</span>{{product_tuple.1.price}}</p>
            <p class="s_description">{{product_tuple.1.description}}</p>
          </div>
        </div>

        <div class="clear"></div>

        {% endfor %}

       

      </div>
      
      <div class="pagination">
        <div class="results"></div>
      </div>
      
    </div>
    
    
  </center>
    
    
  </div>
  <!-- end of content -->

{% endblock %}
